@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box
}
:root {
    font-family: 'Roboto', sans-serif;
}

body, html{
    padding: 0;
    margin: 0;
}
.link { 
    text-decoration: none;
    color: black;
    padding: 2px;
    cursor: pointer;
}